[Unit]
Description=OpenCollectivites gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=simple
User=<username>
ExecStart=<projectpath>gunicorn_start.sh

[Install]
WantedBy=multi-user.target
