server {

        # Server declaration
        listen 443 ssl;
        client_max_body_size 200M;
        server_name <url>

        location /static {
                root <projectpath>; #don't point directly to the static folder!
        }

        location / {
                include proxy_params;
                proxy_pass <socketpath>/run/gunicorn.sock;
        }

        # SSL
        ssl_certificate /etc/letsencrypt/live/<domain>/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/<domain>/privkey.pem;
        ssl_trusted_certificate /etc/letsencrypt/live/<domain>/chain.pem;

}