#!/bin/bash

NAME="<appname>-app"                               #Name of the application (*)
DJANGODIR=<projectpath>                            # Django project directory (*)
SOCKFILE=<socketpath>/run/gunicorn.sock            # we will communicate using this unix socket (*)
USER=<username>                                    # the user to run as (*)
GROUP=www-data                                     # the group to run as (*)
NUM_WORKERS=3                                      # how many worker processes should Gunicorn spawn (*)
DJANGO_SETTINGS_MODULE=config.settings             # which settings file should Django use (*)
DJANGO_WSGI_MODULE=config.wsgi                     # WSGI module name (*)

echo "Starting $NAME as `whoami`"

# Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR


# Go to the directory and update if needed
cd $DJANGODIR
git pull
git submodule update
pipenv install
pipenv run manage.py migrate
pipenv run manage.py collectstatic --no-input

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec pipenv run gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --user $USER \
  --bind=unix:$SOCKFILE
