[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateparser = "*"
Django = "*"
feedparser = "*"
beautifulsoup4 = "*"
requests = "*"
pyRFC3339 = "*"
Pillow = "*"
python-stdnum = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
Unidecode = "*"
openpyxl-dictreader = "*"
xlrd = "*"
gunicorn = "*"
django-ninja = "*"
Babel = "*"
django-analytical = "*"
django-francedata = "*"
django-dsfr = "*"
wagtail-markdown = "*"
wagtailsvg = "*"

[dev-packages]
pylint = "*"
coverage = "*"
mock = "*"
requests-mock = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
