[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dateparser = "*"
Django = "*"
djangorestframework = "*"
feedparser = "*"
beautifulsoup4 = "*"
requests = "*"
pyRFC3339 = "*"
Pillow = "*"
python-stdnum = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
Unidecode = "*"
openpyxl-dictreader = "*"
xlrd = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
