from pathlib import Path

LOCAL_BASE_DIR = Path(__file__).resolve().parent

LOCAL_SECRET_KEY = # Generate with base64 /dev/urandom | head -c50
LOCAL_DEBUG = True
LOCAL_ALLOWED_HOSTS = ["127.0.0.1"]
LOCAL_DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.sqlite3",
        "NAME": LOCAL_BASE_DIR / "db.sqlite3",
    }
}