{% load static %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'dsfr/dist/css/dsfr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Open Collectivités</title>
</head>

<body>
    <header class="rf-header">
        <div class="rf-container">
            <div class="rf-header__body">
                <div class="rf-header__brand">
                    <a class="rf-logo" href="#" title="Ministère<br>de l’europe<br>et des affaires<br>étrangères">
                        <span class="rf-logo__title">Ministère
                            <br>de la Cohésion
                            <br>des territoires
                            <br>et des Relations
                            <br>avec les collectivités
                            <br>territoriales</span>
                    </a>
                </div>
                <div class="rf-header__navbar">
                    <div class="rf-service">
                        <a class="rf-service__title" href="#" title="Nom du service">
                            Open Collectivités
                        </a>
                        <em>.fr</em>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="rf-container">
        <p>Hello world</p>
    </div>
    <script src="{% static 'dsfr/dist/js/dsfr.min.js' %}"></script>
</body>

</html>