{% extends "dsfr/footer.html" %}
{% load wagtailcore_tags %}


{% block footer_links %}
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% url 'core:page_sitemap' %}">Plan du site</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'accessibilite' %}">Accessibilité: {{ SITE_CONFIG.get_accessibility_status_display|default:'non' }} conforme</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'mentions-legales' %}">Mentions légales</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'mentions-legales' %}#donnees-personnelles">Données personnelles</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'mentions-legales' %}#gestion-des-cookies">Gestion des cookies</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'contact' %}">Contact</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="{% slugurl 'faq' %}">FAQ</a>
</li>
<li class="fr-footer__bottom-item">
  <button type="button" class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d’affichage</button>
</li>
{% endblock %}
