{% extends "core/dsfr/footer.html" %}

{% block footer_content %}
Un service de la DGCL
{% endblock %}

{% block footer_links %}
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">Plan du site</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="#">Accessibilité: partiellement</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="/mentions-legales">Mentions légales</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="/mentions-legales#Donnees-personnelles">Données personnelles</a>
</li>
<li class="fr-footer__bottom-item">
    <a class="fr-footer__bottom-link" href="/mentions-legales#Gestion-des-cookies">Gestion des cookies</a>
</li>
<li class="fr-footer__bottom-item">
  <button class="fr-footer__bottom-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d’affichage</button>
</li>
{% endblock %}
