{% extends "dsfr/header.html" %}
{% load wagtailcore_tags %}
{% block brand %}
  {% if hide_brand is not True %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
      <p class="fr-logo">république<br>française</p>
    </a>
  {% else %}
    <a href="/" title="Accueil — {{ SITE_CONFIG.site_title }}">
      <p class="fr-logo"></p>
    </a>
  {% endif %}
{% endblock %}

{% block header_tools %}
<li>
  <button type="button" class="fr-link fr-fi-theme-fill fr-link--icon-left" aria-controls="fr-theme-modal" data-fr-opened="false">Paramètres d'affichage</button>
</li>
{% endblock%}

<!-- Leave both blocks below empty if the main menu is not used --> 
{% block burger_menu %}
{% endblock %}

{% block main_menu %}
    <div class="fr-header__menu fr-modal" id="fr-menu-modal" aria-labelledby="fr-btn-menu-modal">
      <div class="fr-container">
        <button type="button" class="fr-link--close fr-link" aria-controls="fr-menu-modal">Fermer</button>
        <div class="fr-header__menu-links"></div>
        <nav class="fr-nav" id="fr-navigation" role="navigation" aria-label="Menu principal">
        </nav>
      </div>
    </div>
{% endblock %}