{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
  <div class="fr-grid-row fr-grid-row--gutters ">
    <div class="fr-col-12 fr-col-md-6">
      <h1>La page recherchée n’existe plus</h1>
      <p>Essayez l’un des liens ci-dessous :</p>

      <p>
        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" target="_self" href="/"
          >Page d’accueil</a
        >
      </p>
      <p>
        <a
          class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
          target="_self"
          href="{% url 'core:page_publications' %}?document_type=1"
          >Publications statistiques sur les collectivités locales</a
        >
      </p>
      <p>
        <a
          class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
          target="_self"
          href="{% url 'core:page_publications' %}?document_type=2"
          >Jeux de données sur les collectivités locales</a
        >
      </p>
      <p>
        <a
          class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
          target="_self"
          href="{% url 'core:page_publications' %}?document_type=3"
          >Outils utiles pour les collectivités locales</a
        >
      </p>
      <p>
        <a class="fr-link fr-fi-arrow-right-line fr-link--icon-right" target="_self" href="{% url 'core:page_sitemap' %}"
          >Plan du site</a
        >
      </p>
    </div>
    <div class="fr-col-12 fr-col-md-6">
      <img
        src="{% static 'img/undraw_no_data_re_kwbl.svg' %}"
        style="width:100%"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %}