{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container">
  <img
    src="/static/img/undraw_no_data_re_kwbl.svg"
    style="float: right; width: 40%"
    alt=""
  />
  <h1>La page recherchée n’existe plus</h1>
  <p>Essayez l’un des liens ci-dessous :</p>

  <p>
    <a class="fr-link fr-link--icon-right" target="_self" href="/"
      >Page d’accueil</a
    >
  </p>
  <p>
    <a
      class="fr-link fr-link--icon-right"
      target="_self"
      href="/publications?type=1"
      >Publications statistiques sur les collectivités locales</a
    >
  </p>
  <p>
    <a
      class="fr-link fr-link--icon-right"
      target="_self"
      href="/publications?type=2"
      >Jeux de données sur les collectivités locales</a
    >
  </p>
  <p>
    <a
      class="fr-link fr-link--icon-right"
      target="_self"
      href="/publications?type=3"
      >Outils utiles pour les collectivités locales</a
    >
  </p>
  <p>
    <a class="fr-link fr-link--icon-right" target="_self" href="/plan"
      >Plan du site</a
    >
  </p>

  <br clear="all" />
</div>
{% endblock %}