{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
  <img
    src="/static/img/undraw_programmer_imem.svg"
    style="float: right; width: 40%"
    alt=""
  />
  <h1>Page actuellement indisponible</h1>
  <p>Nous essayons de résoudre le problème.</p>
  
  <p>Pendant ce temps vous pouvez tenter de :</p>

  <p><span class="ri-time-line" aria-hidden="true"></span> Revenir dans quelques minutes</p>

  <p><span class="ri-refresh-line" aria-hidden="true"></span> Rafraîchir la page</p>

  <p>Si cela ne fonctionne pas,</p>
  <br class="oc-clear" />
</div>
{% endblock %}