{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
    {% include "core/dsfr/breadcrumb.html" with breadcrumb_data=breadcrumb_data %}

    <h1>Déclaration d’accessibilité</h1>
    <p><span>Ministère de la Cohésion des territoires et des Relations avec les collectivités territoriales</span>
        s’engage à rendre son service accessible, conformément à l’article 47 de la loi n° 2005-102 du 11 février 2005.
    </p>
    <p>Cette déclaration d’accessibilité s’applique à <span>Open Collectivités</span>.</p>
    <h2>État de conformité</h2>
    <p>
        <span>Open Collectivités</span> est
        <strong><span data-printfilter="lowercase">non conforme</span> avec le <span data-negate="">RGAA 4.1</span></strong>.
        <span><span>Le site n’a encore pas été audité.</span></span>
    </p>
    <h2>Contenus non accessibles</h2>
    <h2>Établissement de cette déclaration d’accessibilité</h2>
    <p>Cette déclaration a été établie le <strong><span>3 mai 2021</span></strong>.</p>
    <h3>Technologies utilisées</h3>
    <p>L’accessibilité de <span>Open Collectivités</span> s’appuie sur les technologies suivantes :</p>
    <ul class="technical-information technologies-used">
        <li>HTML</li>
        <li>WAI-ARIA</li>
        <li>CSS</li>
        <li>JavaScript</li>
    </ul>
    <h2>Amélioration et contact</h2>
    <p>Si vous n’arrivez pas à accéder à un contenu ou à un service, vous pouvez contacter le responsable de <span>Open
            Collectivités</span> pour être orienté vers une alternative accessible ou obtenir le contenu sous une autre
        forme.</p>
    <ul class="basic-information feedback h-card">
        <li>
            Téléphone : <span>01 40 07 23 80</span>
        </li>
        <li>
            E-mail : <a href="mailto:antoine1.thomas@dgcl.gouv.fr">antoine1.thomas@dgcl.gouv.fr</a>
        </li>
        <li>
            Adresse : <span>DGCL, Beauvau, 75008 PARIS</span>
        </li>
    </ul>
    <h2>Voie de recours</h2>
    <p>Cette procédure est à utiliser dans le cas suivant : vous avez signalé au responsable du site internet un défaut
        d’accessibilité qui vous empêche d’accéder à un contenu ou à un des services du portail et vous n’avez pas
        obtenu de réponse satisfaisante.</p>
    <p>Vous pouvez :</p>
    <ul>
        <li>Écrire un message au <a href="https://formulaire.defenseurdesdroits.fr/">Défenseur des droits</a></li>
        <li>Contacter <a href="https://www.defenseurdesdroits.fr/saisir/delegues">le délégué du Défenseur des droits
                dans votre région</a></li>
        <li>Envoyer un courrier par la poste (gratuit, ne pas mettre de timbre) :<br>
            Défenseur des droits<br>
            Libre réponse 71120 75342 Paris CEDEX 07</li>
    </ul>
    <hr>
    <p>
        Cette déclaration d’accessibilité a été créé le <span>3 mai 2021</span> grâce au <a
            href="https://betagouv.github.io/a11y-generateur-declaration/#create">Générateur de Déclaration
            d’Accessibilité de BetaGouv</a>.
    </p>
</div>
{% endblock %}