{% load static wagtailuserbar matomo dsfr_tags %}

<!doctype html>
<html lang="fr" data-fr-theme="default">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  {% dsfr_css %}
  {% dsfr_favicon %}

  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'fonts/remixicon/remixicon.css' %}">
  {% block extra_css %}{% endblock %}

  {% block  title %}
  <title>
    {% if self.seo_title %}
      {{ self.seo_title }}
    {% elif self.title %}
      {{ self.title }}  — Open Collectivités
    {% elif title %}
      {{ title }} — Open Collectivités
    {% else %}
      Open Collectivités
    {% endif %}
  </title>
  {% endblock title %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <main id="content">
    {% block custom_header %}
      {% include "core/blocks/header.html" with hide_brand=context.hide_brand %}
    {% endblock %}
    {% dsfr_theme_modale %}
    {% wagtailuserbar %}

    {% block content %}{% endblock %}

    {% include "core/blocks/footer_categories.html" %}
    {% include "core/blocks/footer.html" %}
  </main>

  {% dsfr_js %}
  {% block extra_js %}{% endblock %}
  {% if debug is not True %}{% matomo %}{% endif %}
</body>

</html>