{% extends "core/base.html" %}
{% load static %}
{% load dsfr_tags %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
  {# Tables #}
  <h2 id="donnees-contexte">Données de contexte</h2>
  {% dsfr_table caption="Population" content=data.tables.population header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Emploi - chômage" content=data.tables.emploi header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Niveau de vie" content=data.tables.niveau_de_vie header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Zonage" content=data.tables.zonage header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Dotation globale" content=data.tables.dotation_globale header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Dotation élu local" content=data.tables.dotation_elu_local header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
  {% dsfr_table caption="Dotation FPIC" content=data.tables.dotation_fpic header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}

  <p>
    <a
      title="Comparatif des communes sélectionnées"
      href="{{ data.export_link }}"
      target="_blank"
      rel="noopener"
      class="fr-link fr-link--lg fr-fi-download-line fr-link--icon-right"
    >
      Télécharger le comparatif des communes sélectionnées au format CSV
    </a>
  </p>
  
</div>
{% endblock %}

{% block custom_header %}
<header role="banner" class="fr-header oc-sticky-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <div class="fr-header__body-row fr-container">
              <table class="oc-table--fullwidth oc-table--force10">
                <thead>
                  <tr>
                      <th scope="col" style="text-align: left;">
                        <button type="button" class="fr-btn fr-btn--secondary fr-fi-arrow-left-s-line" title="Page précédente" onclick="goBack()">
                          Précédent
                        </button>
                      </th>
                      {% for name in data.tables.places_names %}
                      <th scope="col"> {{ name }} </th>
                      {% endfor %}
                  </tr>
                </thead>
              </table>
            </div>
        </div>
    </div>
</header>
{% endblock%}

{% block extra_js %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock%}