{% extends "core/base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vue-multiselect-dsfr.css' %}">
{% endblock %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
  {% dsfr_breadcrumb %}

  {# Intro #}
  <h1>{{ title }}</h1>

  {% for message in messages %}
    {% dsfr_callout text=message.message %}
  {% endfor %}

  <p>
    Code postal : {{ data.code_postal }} / Code INSEE :
    {{ data.insee }} / Code SIREN : {{ siren }}
  </p>

  <p>
    {{ commune_name }} est une commune française, située dans le département
    {{ data.departement.name }}{% if data.region %} en région {{ data.region.name }}{% endif %}.{% if data.commune_type %} Elle a le statut de {{ data.commune_type }}.{% endif %} {% if data.nom_maire %} Le maire actuel est
    {{ data.civ_maire | safe }} {{ data.prenom_maire }} {{ data.nom_maire }}.{% endif%}
  </p>

  {# Navigation #}
  <div id="navigation-tiles" class="fr-grid-row fr-grid-row--gutters">
    {% if data.epci %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.epci %}
    </div>
    {% endif %}

    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.departement %}
    </div>

    {% if data.region %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.region %}
    </div>
    {% endif %}
  </div>

  {# Tables #}
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w fr-mb-6w" id="oc-collectivity-main">
    <aside id="vue-sidemenu" class="fr-col-12 fr-col-md-4">
      {% dsfr_sidemenu page_menu %}
    </aside>
    <article class="fr-col-12 fr-col-md-8">
      <h2 id="donnees-de-contexte">Données de contexte</h2>
      {% dsfr_table caption="Population" content=data.tables.comm_population.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_population.sources %}

      {% dsfr_table caption="Emploi - chômage" content=data.tables.comm_emploi.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_emploi.sources %}

      {% dsfr_table caption="Niveau de vie" content=data.tables.comm_niveau_de_vie.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_niveau_de_vie.sources %}

      <h2 id="intercommunalites-et-zonage">Intercommunalités et zonage</h2>
      {% dsfr_table caption="Zonage" content=data.tables.comm_zonage.rows header=data.table_header_zonage extra_classes="oc-table--fullwidth" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_zonage.sources %}

      <a
        title="Observatoire des Territoires"
        href="https://www.observatoire-des-territoires.gouv.fr/"
        target="_blank"
        rel="noopener"
        class="fr-link fr-link--lg fr-fi-external-link-line fr-link--icon-right"
      >
        Plus d’informations sur le site de l’Observatoire des Territoires
      </a>

      <a
        title="Banatic"
        href="https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/recherche-groupements.php"
        target="_blank"
        rel="noopener"
        class="fr-link fr-link--lg fr-fi-external-link-line fr-link--icon-right"
      >
        Rechercher les intercommunalités auxquels appartient la commune sur Banatic
      </a>

      <h2 id="ressources-financieres-et-fiscales">
        Ressources financières et fiscales
      </h2>
      {% dsfr_table caption="Dotation globale" content=data.tables.comm_dotation_globale.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_dotation_globale.sources %}

      {% dsfr_table caption="Dotation élu local" content=data.tables.comm_dotation_elu_local.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_dotation_elu_local.sources %}

      {% dsfr_table caption="Dotation FPIC" content=data.tables.comm_dotation_fpic.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.comm_dotation_fpic.sources %}
      <a
        title="Dotation - Direction générale des Collectivités locales"
        href="http://www.dotations-dgcl.interieur.gouv.fr/"
        target="_blank"
        rel="noopener"
        class="fr-link fr-link--lg fr-fi-external-link-line fr-link--icon-right"
      >
        Plus d’informations sur le site dotations de la DGCL
      </a>

      <p class="fr-mt-4w">
          <a
          title="Export données de la commune"
          href="{% url 'core:csv_commune_export' slug %}"
          target="_blank"
          rel="noopener"
          class="fr-link fr-link--lg fr-fi-download-line fr-link--icon-right"
        >
          Télécharger les données de la commune au format csv
        </a>
      </p>

      <h2 id="comparaison-avec-dautres-communes">
        Comparaison avec d’autres communes
      </h2>
      {% include "core/blocks/compare_selector.html" %}

      {# Publications lists #}
      {% include "core/blocks/collectivity_publications.html" with publications=publications %}
    </article> <!-- end left column -->
  </div> <!-- end div container-->
</div> <!-- end container -->

{{ page_data | json_script:"page-data" }}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'lib/vue-2.6.12/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/vue-multiselect-2.1.6/dist/vue-multiselect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/axios.0.21.1/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/OpenCollectivitesDataService.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

<script>
const pageData = JSON.parse(document.getElementById('page-data').textContent);
</script>

<script type="text/javascript" src="{% static 'js/place-selector.js' %}"></script>

<script type="text/javascript" src="{% static 'js/sidemenu-autoscroll.js' %}"></script>
{% endblock%}
