{% extends "core/base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
    {% dsfr_breadcrumb breadcrumb_data %}

  {# Intro #}
  <h1>{{ title }}</h1>

  {% for message in messages %}
    {% dsfr_callout text=message.message %}
  {% endfor %}

  <p>
  {% if siren %}Code SIREN : {{ siren }} / {% endif %}Code Insee : {{ data.insee }}
  </p>

  <p>
    {{ data.name }} est un département français{% if data.region %} situé dans la région {{ data.region.name }}{% endif %}.
  </p>

  {# Navigation #}
  <div id="navigation-tiles" class="fr-grid-row fr-grid-row--gutters">
    {% if data.communes_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.communes_list %}
    </div>
    {% endif %}

    {% if data.epcis_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.epcis_list %}
    </div>
    {% endif %}

    {% if data.region %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.region %}
    </div>
    {% endif %}
  </div>

  {# Tables #}
  <div class="fr-grid-row fr-grid-row--gutters fr-mt-4w fr-mb-6w" id="oc-collectivity-main">
    <aside id="vue-sidemenu" class="fr-col-12 fr-col-md-4">
      {% dsfr_sidemenu page_menu %}
    </aside>
    <article class="fr-col-12 fr-col-md-8">
      <h2 id="donnees-de-contexte">Données de contexte</h2>
      {% dsfr_table caption="Population" content=data.tables.dept_population.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.dept_population.sources %}

      {% dsfr_table caption="Emploi - chômage" content=data.tables.dept_emploi.rows header=data.tables_header extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/sources_line.html" with sources=data.tables.dept_emploi.sources %}

      <h2 id="perimetre">Périmètre</h2>
      <p>Nombre total de communes membres : {{ data.communes_count }}</p>

      {% if data.communes_count > 1 %}
        <a
          title="Comparatif des communes membres"
          href="{% url 'core:csv_departement_compare_communes' slug %}"
          target="_blank"
          rel="noopener"
          class="fr-link fr-link--lg fr-fi-download-line fr-link--icon-right"
        >
          Télécharger le comparatif des {{ data.communes_count }} communes au format csv
        </a>
      {% endif %}

      {# Publications lists #}
      {% include "core/blocks/collectivity_publications.html" with publications=publications %}
    </article> <!-- end left column -->
  </div> <!-- end columns block -->
</div> <!-- end div container-->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'lib/vue-2.6.12/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidemenu-autoscroll.js' %}"></script>
{% endblock %}
