{% extends "core/base.html" %}
{% load static %}

{% block title %}
<title>{{ title }} </title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vue-multiselect-dsfr.css' %}">
<style scoped>
#homesearch {
  padding-top: 10px;
  padding-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
  {% include "core/dsfr/breadcrumb.html" with breadcrumb_data=breadcrumb_data %}

  {# Intro #}
  <h1>{{ title }}</h1>
  <p>
  Code SIREN : {{ siren }} / Code Insee : {{ data.insee }}
  </p>

  <p>
    {{ data.name }} est un département français situé dans la région {{ data.region.name }}.
  </p>

  {# Navigation #}
  <div id="navigation-tiles" class="fr-grid-row fr-grid-row--gutters oc-tile-row">
    {% if data.communes_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.communes_list %}
    </div>
    {% endif %}

    {% if data.epcis_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.epcis_list %}
    </div>
    {% endif %}

    {% if data.region %}
    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.region %}
    </div>
    {% endif %}
  </div>

  {# Tables #}
  <div class="fr-grid-row fr-grid-row--gutters ">
    <div class="fr-col-12 fr-col-md-8">
      <h2 id="donnees-contexte">Données de contexte</h2>
      {% include "core/dsfr/table.html" with caption="Population" content=data.tables.population extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/source_aspic_banatic.html" with max_year=data.max_year file="Données départements" %}

      {% include "core/dsfr/table.html" with caption="Emploi - chômage" content=data.tables.emploi extra_classes="oc-table--fullwidth oc-table--force10" %}
      {% include "core/blocks/source_aspic_banatic.html" with max_year=data.max_year file="Données départements" %}

    </div> <!-- end left column -->
    <div class="fr-col-3">
    <div class="oc-sticky-block">
      {% include "core/dsfr/summary.html" with items=page_summary %}
    </div>
  </div>
</div> <!-- end div container-->

{% endblock %}

{% block extra_js %}
{% endblock %}
