{% extends "core/base.html" %}
{% load static %}

{% block title %}
<title>{{ title }} </title>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vue-multiselect-dsfr.css' %}">
<style scoped>
#homesearch {
  padding-top: 10px;
  padding-bottom: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
  {% include "core/dsfr/breadcrumb.html" with breadcrumb_data=breadcrumb_data %}

  {# Intro #}
  <h1>{{ title }}</h1>
  <p>
  Code SIREN : {{ siren }}
  </p>

  <p>
    {{ data.name }} est une {{ data.type.name}} ({{data.type.acronym}}) française dont le siège est
    <a href="{% url 'core:page_commune_detail' data.seat.slug %}">{{ data.seat.name }}</a>.  
  </p>

  <p>
  {% if data.departements.count == 1 %}
    Elle est située intégralement dans le département
    <a href="{% url 'core:page_departement_detail' data.departement.slug %}">{{ data.departement.name }}</a>
    et la région <a href="{% url 'core:page_region_detail' data.region.slug %}">{{ data.region.name }}</a>.
  {% else %}
    Elle est située sur les départements 
      {% for departement in data.departements %}
        <a href="{% url 'core:page_departement_detail' departement.departement__slug %}">{{ departement.departement__name }}</a>{% if forloop.last %} {% else %}, {% endif%}
      {%endfor%}
      {% if data.regions.count == 1 %}
        et la région <a href="{% url 'core:page_region_detail' data.region.slug %}">{{ data.region.name }}</a>.
      {% else %}
        et les régions
        {% for region in data.regions %}
          <a href="{% url 'core:page_region_detail' region.departement__region__slug %}">{{ region.departement__region__name }}</a>{% if forloop.last %}.{% else %}, {% endif%}
        {%endfor%}
      {% endif %}


  {% endif %}
  </p>
  
  <p>
    {% if data.president.last_name %}Le président actuel est
    {{ data.president.civility | safe }} {{ data.president.first_name }} {{ data.president.last_name }}.{% endif%}
  </p>

  {# Navigation #}
  <div id="navigation-tiles" class="fr-grid-row fr-grid-row--gutters oc-tile-row">
    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.communes_list %}
    </div>

    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.seat %}
    </div>

    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.departement %}
    </div>

    <div class="fr-col-12 fr-col-md-2">
      {% include "core/dsfr/tile.html" with tiledata=data.region %}
    </div>
  </div>

{# Tables #}
<div class="fr-grid-row fr-grid-row--gutters ">
  <div class="fr-col-12 fr-col-md-8">
    <h2 id="donnees-socio-economiques">Données socio-économiques</h2>
    {% include "core/dsfr/table.html" with caption="Population" content=data.tables.population extra_classes="oc-table--fullwidth oc-table--force10" %}
    {% include "core/blocks/source_aspic_banatic.html" with max_year=data.max_year file="Données groupements" %}

    <a
      title="Comparateur de territoires INSEE"
      href="https://www.insee.fr/fr/statistiques/1405599?geo=EPCI-{{ siren }}"
      target="_blank"
      rel="noopener"
      class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    >
      Plus d’informations sur le comparateur de territoires INSEE
    </a>

    <h2 id="coordonnees-siege">Coordonnées du siège</h2>
    <dl>
      <dt>Adresse postale :</dt>
      <dd>{% if data.contact.address1|length > 0 %}{{ data.contact.address1 }} <br />{% endif %}
      {% if data.contact.address2|length > 0 %}{{ data.contact.address2 }} <br />{% endif %}
      {% if data.contact.address3|length > 0 %}{{ data.contact.address3 }} <br />{% endif %}
      {{ data.contact.postcode }} {{ data.contact.city|upper }}</dd>

      {% if data.contact.website|length > 0 %}
        <dt>Site internet :</dt>
        <dd><a href="{{ data.contact.website }}" target="_blank" rel="noopener">{{ data.contact.website }}</a></dd>
      {% endif %}

      {% if data.contact.telephone|length > 0 %}
        <dt>Téléphone :</dt>
        <dd><a href="tel:+33{{ data.contact.telephone|slice:'1:' }}">{{ data.contact.telephone }}</a></dd>
      {% endif %}
      {% if data.contact.fax|length > 0 %}
      <dt>Fax :</dt>
      <dd><a href="fax:+33{{ data.contact.fax|slice:'1:' }}">{{ data.contact.fax }}</a></dd>
      {% endif %}

      {% if data.contact.email|length > 0 %}<dt>Courriel :</dt>
      <dd><a href="mailto:{{ data.contact.email }}">{{ data.contact.email }}</a></dd>{% endif %}
    </dl>

    <h2 id="perimetre-competences">Périmètre & compétences</h2>
    <h3 id="perimetre">Périmètre</h3>
    <p>
      Nombre total de communes membres : {{ data.members.count }}<br />
    
      {% for member in data.members %}
        <a href="{% url 'core:page_commune_detail' member.slug %}">{{ member.name }}</a>{% if forloop.last %}.{% else %}, {% endif%}
      {%endfor%}
    </p>

    <a
      title="Comparatif des communes membres"
      href="{% url 'core:csv_compare_epci_members' slug %}"
      target="_blank"
      rel="noopener"
      class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    >
      Télécharger le comparatif des {{ data.members.count }} communes au format csv
    </a>

    <h3>Compétences</h3>
    <p>Nombre total de compétences exercées : {{ data.competences.count }} </p>

    <a
      title="Fiche EPCI sur Banatic"
      href="https://www.banatic.interieur.gouv.fr/V5/recherche-de-groupements/fiche-raison-sociale.php?siren={{ siren }}"
      target="_blank"
      rel="noopener"
      class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    >
      Voir le détail sur la fiche EPCI de la base nationale sur l’intercommunalité
    </a>

    <h2 id="ressources-financieres-fiscales">
      Ressources financières et fiscales
    </h2>
    {% include "core/dsfr/table.html" with caption="Dotation globale de fonctionnement" content=data.tables.dotation_globale extra_classes="oc-table--fullwidth oc-table--force10" %}
    {% include "core/blocks/source_aspic_banatic.html" with max_year=data.max_year file="Données groupements" %}


    {% include "core/dsfr/table.html" with caption="Fonds national de péréquation des ressources intercommunales et communales (FPIC)" content=data.tables.dotation_fpic extra_classes="oc-table--fullwidth oc-table--force10" %}
    {% include "core/blocks/source_aspic_banatic.html" with max_year=data.max_year file="Données groupements" %}

  </div> <!-- end left column -->
  <div class="fr-col-3">
    <div class="oc-sticky-block">
      {% include "core/dsfr/summary.html" with items=page_summary %}
    </div>
  </div>
</div> <!-- end div container-->

<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
  <h2 id=outils-pratiques>Outils pratiques</h2>
  {% include "core/blocks/publications_list.html" with data=tools_list %}
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
