<header role="banner" class="rf-header">
    <div class="rf-container">
        <div class="rf-header__body">
            <div class="rf-header__brand rf-enlarge-link">
                <div class="rf-header__logo">
                    <a href="/" title="Retour à l’accueil">
                        <p class="rf-logo">Ministère <br />de la
                            Cohésion <br />des territoires <br />et des
                            Relations <br />avec les collectivités <br />territoriales
                        </p>
                    </a>

                </div>
                <div class="rf-header__service">
                    <a href="/" title="Retour à l’accueil">
                        <p class="rf-header__service-title">Open Collectivités</p>
                    </a>
                    <p class="rf-header__service-tagline">Un service de la DGCL</p>
                </div>
            </div>
            <div class="rf-header__navbar">
                <button class="rf-btn--menu rf-btn" data-rf-opened="false" aria-controls="header-navigation"
                    aria-haspopup="menu" title="Ouvrir le menu">
                    Ouvrir le menu
                </button>
            </div>
            <div class="rf-header__tools">
                <div class="rf-shortcuts">
                    <ul class="rf-shortcuts__list">
                        <li class="rf-shortcuts__item">
                            <div class="rf-checkbox-group">
                                <input type="checkbox" id="rf-dark-mode-toggle-switch" name="rf-dark-mode-toggle-switch"
                                    class="ng-untouched ng-pristine ng-valid">
                                <label for="rf-dark-mode-toggle-switch" class="rf-label"></label>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>