{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
  <div class="fr-grid-row fr-grid-row--gutters ">
    <div class="fr-col-12 fr-col-md-6">
      <h1>Page en construction</h1>
      <p>
        <a href="/" class="fr-link fr-link--lg fr-fi-arrow-right-line fr-link--icon-right" target="_self"
          >Retour à la page d’accueil</a
        >
      </p>
    </div>
    <div class="fr-col-12 fr-col-md-6">
        <img
        src="{% static 'img/undraw_work_in_progress_uhmv.svg' %}"
        style="width:100%"
        alt=""
      />
    </div>
  </div>
</div>
{% endblock %}