{% extends "core/base.html" %}
{% load static %}
{% load dsfr_tags %}

{% block custom_header %}
<header role="banner" class="fr-header oc-sticky-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <form id="publications-header-form" class="fr-grid-row">
                <div class="fr-col-12 fr-col-md-1 fr-input-group oc-inline-form">
                    <button class="fr-btn fr-btn--secondary fr-fi-arrow-left-s-line" title="Page précédente" onclick="goBack()">
                        Précédent
                    </button>
                </div>
                {% dsfr_select filters.topic extra_classes="fr-col-12 fr-col-md-3" %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% dsfr_select filters.scope extra_classes="fr-col-12 fr-col-md-3" %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                {% dsfr_select filters.document_type extra_classes="fr-col-12 fr-col-md-2" %}
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="fr-col-12 fr-col-md-2 fr-input-group oc-inline-form">
                    <button class="fr-btn fr-btn--secondary" type="button" title="Plus de filtres"data-fr-opened="false" aria-controls="fr-modal-morefilters">
                        Plus de filtres ({{ filters.extra_count}})
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
{% endblock%}

{% block content %}
{# More filters modal #}
<dialog aria-labelledby="fr-modal-title-modal-morefilters" role="dialog" id="fr-modal-morefilters" class="fr-modal">
    <div class="fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-morefilters" target="_self">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-morefilters" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                            Plus de filtres
                        </h1>
                        <form id="publications-morefilters">
                            {% dsfr_select filters.source_org %}
                            <p>Plage de publication</p>
                            <div class="fr-grid-row">
                                {% dsfr_input filters.after extra_classes="fr-col-12 fr-col-md-4" %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                {% dsfr_input filters.before extra_classes="fr-col-12 fr-col-md-4" %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
    {% dsfr_breadcrumb breadcrumb_data %}
{# Intro #}
<h1> Études, statistiques et outils locaux </h1>
{% if data.total %}
<h2>Votre recherche a renvoyé {{data.total}} résultat{% if data.total > 1 %}s{% endif %} :</h2>

{% include "core/blocks/publications_list.html" with data=data.cards_page %}

{% if data.cards_page.has_other_pages %}
    {% dsfr_pagination data.cards_page %}
{% endif %}


{% else %}
<h2>Votre recherche n’a renvoyé aucun résultat</h2>
<p>
    Essayez de relancer la recherche en supprimant l’un des filtres
    sélectionnés ci-dessus, ou essayez une recherche type :
</p>
<p>
<a
    class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=1"
    >Publications statistiques sur les collectivités locales</a
>
</p>
<p>
<a
    class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=2"
    >Jeux de données sur les collectivités locales</a
>
</p>
<p>
<a
    class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=3"
    >Outils utiles pour les collectivités locales</a
>
</p>
{% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script>
function goBack() {
    window.history.back();
}

function setUrlParam(select) {
    const filterParams = new URLSearchParams(window.location.search);
    filterParams.delete("page") //This will change the list of results so removing the page parameter if set
    filterParams.set(select.id, select.value);
    window.location.href = "/publications?"+filterParams.toString();
}
</script>
{% endblock%}