{% extends "core/base.html" %}
{% load static %}
{% load dsfr_tags %}

{% block custom_header %}
<header role="banner" class="fr-header oc-sticky-header">
    <div class="fr-header__body">
        <div class="fr-container">
            <form id="publications-header-form" class="fr-grid-row fr-grid-row--gutters">
                {% dsfr_select filters.topic extra_classes="fr-col-12 fr-col-md-3" %}
                {% dsfr_select filters.scope extra_classes="fr-col-12 fr-col-md-3" %}
                {% dsfr_select filters.document_type extra_classes="fr-col-12 fr-col-md-3" %}
                <div class="fr-col-12 fr-col-md-2 fr-input-group oc-inline-form">
                    <button class="fr-btn fr-btn--secondary" type="button" title="Plus de filtres"data-fr-opened="false" aria-controls="fr-modal-morefilters">
                        Plus de filtres ({{ filters.extra_count}})
                    </button>
                </div>
            </form>
        </div>
    </div>
</header>
{% endblock%}

{% block content %}
{# More filters modal #}
<dialog aria-labelledby="fr-modal-title-modal-morefilters" role="dialog" id="fr-modal-morefilters" class="fr-modal">
    <div class="fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-link--close fr-link" title="Fermer la fenêtre modale" aria-controls="fr-modal-morefilters" target="_self">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-morefilters" class="fr-modal__title">
                            <span class="fr-fi-arrow-right-line fr-fi--lg"></span>
                            Plus de filtres
                        </h1>
                        <form id="publications-morefilters">
                            {% dsfr_select filters.source_org onchange="setModaleParam(source_org)" %}
                            {% dsfr_select filters.region onchange="setModaleParam(region)" %}
                            {% dsfr_select filters.departement onchange="setModaleParam(departement)" %}
                            <p>Plage de publication</p>
                            <div class="fr-grid-row fr-grid-row--gutters">
                                {% dsfr_input filters.after onchange="setModaleParam(after)" extra_classes="fr-col-12 fr-col-md-4" %}
                                {% dsfr_input filters.before onchange="setModaleParam(before)" extra_classes="fr-col-12 fr-col-md-4" %}
                            </div>
                            <button type="submit" class="fr-btn" onclick="setUrlModale(event)">
                                Valider
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<div class="fr-container fr-mt-4w fr-mb-6w">
    {% dsfr_breadcrumb breadcrumb_data %}
{# Intro #}
<h1> Études, statistiques et outils locaux </h1>
{% if data.total %}
<h2>Votre recherche a renvoyé {{data.total}} résultat{% if data.total > 1 %}s{% endif %} :</h2>

{% include "core/blocks/publications_tags_list.html" with filters=filters %}

{% include "core/blocks/publications_list.html" with data=data.cards_page %}

{% if data.cards_page.has_other_pages %}
    <div class="fr-mt-4w">
        {% dsfr_pagination data.cards_page %}
    </div>
{% endif %}


{% else %}
<h2>Votre recherche n’a renvoyé aucun résultat</h2>
{% include "core/blocks/publications_tags_list.html" with filters=filters %}

<p>
    Essayez de relancer la recherche en supprimant l’un des filtres
    sélectionnés ci-dessus, ou essayez une recherche type :
</p>
<p>
<a
    class="fr-link fr-link--lg fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=1"
    >Publications statistiques sur les collectivités locales</a
>
</p>
<p>
<a
    class="fr-link fr-link--lg fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=2"
    >Jeux de données sur les collectivités locales</a
>
</p>
<p>
<a
    class="fr-link fr-link--lg fr-fi-arrow-right-line fr-link--icon-right"
    target="_self"
    href="{% url 'core:page_publications' %}?document_type=3"
    >Outils utiles pour les collectivités locales</a
>
</p>
{% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script>
const filterParams = new URLSearchParams(window.location.search);

function removeUrlParam(param) {
    filterParams.delete("page"); //This will change the list of results so removing the page parameter if set
    filterParams.delete(param);
    setUrl();
}

function setFilterParam(param) {
    filterParams.delete("page"); //This will change the list of results so removing the page parameter if set
    if (param.value) {
        filterParams.set(param.id, param.value);
    } else {
        filterParams.delete(param.id);
    }
}

function setUrlParam(param = {}) {
    if (param) {
        setFilterParam(param);
    }
    setUrl();
}

function setUrlModale(event) {
    event.preventDefault();
    setUrl();
}

function setModaleParam(param) {
    setFilterParam(param);
}

function setUrl(){
    window.location.href = "{% url 'core:page_publications' %}?"+filterParams.toString();
}
</script>
{% endblock%}