{% extends "core/base.html" %}
{% load static dsfr_tags %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
    {% dsfr_breadcrumb breadcrumb_data %}

  {# Intro #}
  <h1>{{ title }}</h1>
  <p>Code SIREN : {{ siren }}</p>

  <p>
    {{ data.name }} est une région française.
  </p>

  {# Navigation #}
  <div id="navigation-tiles" class="fr-grid-row fr-grid-row--gutters oc-tile-row">
    {% if data.communes_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.communes_list %}
    </div>
    {% endif %}

    {% if data.epcis_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.epcis_list %}
    </div>
    {% endif %}

    {% if data.departements_list %}
    <div class="fr-col-12 fr-col-md-2">
      {% dsfr_tile data.departements_list %}
    </div>
    {% endif %}
  </div>

  {# Publications lists #}
  {% include "core/blocks/collectivity_publications.html" with publications=publications %}

</div> <!-- end div container-->

{% endblock %}

{% block extra_js %}
{% endblock %}
