{% extends "core/base.html" %}
{% load static %}
{% load dsfr_tags %}

{% block content %}
<div class="fr-container fr-mt-4w fr-mb-6w">
    {% dsfr_breadcrumb breadcrumb_data %}

    <h1> Plan du site </h1>
    <h2> Trouver les données de ma communauté </h2>
    <hr />
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
        <div class="fr-col-12 fr-col-md-6">
            {% for region in regions_data|slice:":9" %}
                {% include "core/blocks/sitemap_region_entry.html" with region=region %}
            {% endfor %}
        </div>

        <div class="fr-col-12 fr-col-md-6">
            {% for region in regions_data|slice:"9:" %}
                {% include "core/blocks/sitemap_region_entry.html" with region=region %}
            {% endfor %}
        </div>
    </div>

    <h2> Trouver une publication </h2>
    <hr />
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
        <div class="fr-col-12 fr-col-md-6">
            <h3>Par thématique</h3>
            <ul>
                {% for topic in filter_data.topic %}
                <li><a href="{% url 'core:page_publications' %}?document_type=1&topic={{ topic.id }}">{{ topic.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Par type de collectivité</h3>
            <ul>
                {% for scope in filter_data.scope %}
                <li><a href="{% url 'core:page_publications' %}?document_type=1&scope={{ scope.id }}">{{ scope.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="fr-col-12 fr-col-md-6">
            <h3>Par source</h3>
            <ul>
                {% for source in filter_data.source %}
                <li><a href="{% url 'core:page_publications' %}?document_type=1&source={{ source.id }}">{{ source.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2> Trouver un jeu de données</h2>
    <hr />
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
        <div class="fr-col-12 fr-col-md-6">
            <h3>Par thématique</h3>
            <ul>
                {% for topic in filter_data.topic %}
                <li><a href="{% url 'core:page_publications' %}?document_type=2&topic={{ topic.id }}">{{ topic.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Par type de collectivité</h3>
            <ul>
                {% for scope in filter_data.scope %}
                <li><a href="{% url 'core:page_publications' %}?document_type=2&scope={{ scope.id }}">{{ scope.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="fr-col-12 fr-col-md-6">
            <h3>Par source</h3>
            <ul>
                {% for source in filter_data.source %}
                <li><a href="{% url 'core:page_publications' %}?document_type=2&source={{ source.id }}">{{ source.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>


    <h2> Trouver un outil</h2>
    <hr />
    <div class="fr-grid-row fr-grid-row--gutters fr-mb-6w">
        <div class="fr-col-12 fr-col-md-6">
            <h3>Par thématique</h3>
            <ul>
                {% for topic in filter_data.topic %}
                <li><a href="{% url 'core:page_publications' %}?document_type=3&topic={{ topic.id }}">{{ topic.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Par type de collectivité</h3>
            <ul>
                {% for scope in filter_data.scope %}
                <li><a href="{% url 'core:page_publications' %}?document_type=3&scope={{ scope.id }}">{{ scope.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="fr-col-12 fr-col-md-6">
            <h3>Par source</h3>
            <ul>
                {% for source in filter_data.source %}
                <li><a href="{% url 'core:page_publications' %}?document_type=3&source={{ source.id }}">{{ source.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}