{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="fr-container oc-padding-top-2em oc-padding-bottom-3em">
<h1> Tests </h1>

  <hr />
  <div class="icon-pack">
    <a class="fr-link fr-fi-add-circle-line" title="add-circle-line">fr-fi-add-circle-line</a>
    <a class="fr-link fr-fi-account-fill" title="account-fill">fr-fi-account-fill</a>
    <a class="fr-link fr-fi-account-line" title="account-line">fr-fi-account-line</a>
    <a class="fr-link fr-fi-add-circle-line" title="add-circle-line">fr-fi-add-circle-line</a>
    <a class="fr-link fr-fi-add-line" title="add-line">fr-fi-add-line</a>
    <a class="fr-link fr-fi-alert-fill" title="alert-fill">fr-fi-alert-fill</a>
    <a class="fr-link fr-fi-alert-line" title="alert-line">fr-fi-alert-line</a>
    <a class="fr-link fr-fi-arrow-down-line" title="arrow-down-line">fr-fi-arrow-down-line</a>
    <a class="fr-link fr-fi-arrow-down-s-line" title="arrow-down-s-line">fr-fi-arrow-down-s-line</a>
    <a class="fr-link fr-fi-arrow-left-line" title="arrow-left-line">fr-fi-arrow-left-line</a>
    <a class="fr-link fr-fi-arrow-left-s-first-line" title="arrow-left-s-first-line">fr-fi-arrow-left-s-first-line</a>
    <a class="fr-link fr-fi-arrow-left-s-line-double" title="arrow-left-s-line-double">fr-fi-arrow-left-s-line-double</a>
    <a class="fr-link fr-fi-arrow-left-s-line" title="arrow-left-s-line">fr-fi-arrow-left-s-line</a>
    <a class="fr-link fr-fi-arrow-right-line" title="arrow-right-line">fr-fi-arrow-right-line</a>
    <a class="fr-link fr-fi-arrow-right-s-last-line" title="arrow-right-s-last-line">fr-fi-arrow-right-s-last-line</a>
    <a class="fr-link fr-fi-arrow-right-s-line-double" title="arrow-right-s-line-double">fr-fi-arrow-right-s-line-double</a>
    <a class="fr-link fr-fi-arrow-right-s-line" title="arrow-right-s-line">fr-fi-arrow-right-s-line</a>
    <a class="fr-link fr-fi-arrow-right-up-line" title="arrow-right-up-line">fr-fi-arrow-right-up-line</a>
    <a class="fr-link fr-fi-arrow-up-line" title="arrow-up-line">fr-fi-arrow-up-line</a>
    <a class="fr-link fr-fi-arrow-up-s-line" title="arrow-up-s-line">fr-fi-arrow-up-s-line</a>
    <a class="fr-link fr-fi-calendar-fill" title="calendar-fill">fr-fi-calendar-fill</a>
    <a class="fr-link fr-fi-calendar-line" title="calendar-line">fr-fi-calendar-line</a>
    <a class="fr-link fr-fi-check-line" title="check-line">fr-fi-check-line</a>
    <a class="fr-link fr-fi-checkbox-line" title="checkbox-line">fr-fi-checkbox-line</a>
    <a class="fr-link fr-fi-close-circle-line" title="close-circle-line">fr-fi-close-circle-line</a>
    <a class="fr-link fr-fi-close-line" title="close-line">fr-fi-close-line</a>
    <a class="fr-link fr-fi-delete-fill" title="delete-fill">fr-fi-delete-fill</a>
    <a class="fr-link fr-fi-delete-line" title="delete-line">fr-fi-delete-line</a>
    <a class="fr-link fr-fi-download-line" title="download-line">fr-fi-download-line</a>
    <a class="fr-link fr-fi-edit-fill" title="edit-fill">fr-fi-edit-fill</a>
    <a class="fr-link fr-fi-edit-line" title="edit-line">fr-fi-edit-line</a>
    <a class="fr-link fr-fi-external-link-line" title="external-link-line">fr-fi-external-link-line</a>
    <a class="fr-link fr-fi-eye-line" title="eye-line">fr-fi-eye-line</a>
    <a class="fr-link fr-fi-eye-off-line" title="eye-off-line">fr-fi-eye-off-line</a>
    <a class="fr-link fr-fi-facebook-circle-fill" title="facebook-circle-fill">fr-fi-facebook-circle-fill</a>
    <a class="fr-link fr-fi-file-download-fill" title="file-download-fill">fr-fi-file-download-fill</a>
    <a class="fr-link fr-fi-file-download-line" title="file-download-line">fr-fi-file-download-line</a>
    <a class="fr-link fr-fi-file-fill" title="file-fill">fr-fi-file-fill</a>
    <a class="fr-link fr-fi-file-line" title="file-line">fr-fi-file-line</a>
    <a class="fr-link fr-fi-file-pdf-fill" title="file-pdf-fill">fr-fi-file-pdf-fill</a>
    <a class="fr-link fr-fi-file-pdf-line" title="file-pdf-line">fr-fi-file-pdf-line</a>
    <a class="fr-link fr-fi-information-fill" title="information-fill">fr-fi-information-fill</a>
    <a class="fr-link fr-fi-information-line" title="information-line">fr-fi-information-line</a>
    <a class="fr-link fr-fi-instagram-fill" title="instagram-fill">fr-fi-instagram-fill</a>
    <a class="fr-link fr-fi-linkedin-box-fill" title="linkedin-box-fill">fr-fi-linkedin-box-fill</a>
    <a class="fr-link fr-fi-lock-fill" title="lock-fill">fr-fi-lock-fill</a>
    <a class="fr-link fr-fi-lock-line" title="lock-line">fr-fi-lock-line</a>
    <a class="fr-link fr-fi-mail-fill" title="mail-fill">fr-fi-mail-fill</a>
    <a class="fr-link fr-fi-mail-line" title="mail-line">fr-fi-mail-line</a>
    <a class="fr-link fr-fi-menu-2-fill" title="menu-2-fill">fr-fi-menu-2-fill</a>
    <a class="fr-link fr-fi-menu-fill" title="menu-fill">fr-fi-menu-fill</a>
    <a class="fr-link fr-fi-pause-circle-fill" title="pause-circle-fill">fr-fi-pause-circle-fill</a>
    <a class="fr-link fr-fi-pause-circle-line" title="pause-circle-line">fr-fi-pause-circle-line</a>
    <a class="fr-link fr-fi-play-fill" title="play-fill">fr-fi-play-fill</a>
    <a class="fr-link fr-fi-play-line" title="play-line">fr-fi-play-line</a>
    <a class="fr-link fr-fi-printer-fill" title="printer-fill">fr-fi-printer-fill</a>
    <a class="fr-link fr-fi-printer-line" title="printer-line">fr-fi-printer-line</a>
    <a class="fr-link fr-fi-question-fill" title="question-fill">fr-fi-question-fill</a>
    <a class="fr-link fr-fi-question-line" title="question-line">fr-fi-question-line</a>
    <a class="fr-link fr-fi-refresh-fill" title="refresh-fill">fr-fi-refresh-fill</a>
    <a class="fr-link fr-fi-refresh-line" title="refresh-line">fr-fi-refresh-line</a>
    <a class="fr-link fr-fi-save-fill" title="save-fill">fr-fi-save-fill</a>
    <a class="fr-link fr-fi-save-line" title="save-line">fr-fi-save-line</a>
    <a class="fr-link fr-fi-search-fill" title="search-fill">fr-fi-search-fill</a>
    <a class="fr-link fr-fi-search-line" title="search-line">fr-fi-search-line</a>
    <a class="fr-link fr-fi-subtract-line" title="subtract-line">fr-fi-subtract-line</a>
    <a class="fr-link fr-fi-theme-fill" title="theme-fill">fr-fi-theme-fill</a>
    <a class="fr-link fr-fi-twitter-fill" title="twitter-fill">fr-fi-twitter-fill</a>
    <a class="fr-link fr-fi-user-fill" title="user-fill">fr-fi-user-fill</a>
    <a class="fr-link fr-fi-user-line" title="user-line">fr-fi-user-line</a>
    <a class="fr-link fr-fi-volume-down-fill" title="volume-down-fill">fr-fi-volume-down-fill</a>
    <a class="fr-link fr-fi-volume-down-line" title="volume-down-line">fr-fi-volume-down-line</a>
    <a class="fr-link fr-fi-volume-mute-fill" title="volume-mute-fill">fr-fi-volume-mute-fill</a>
    <a class="fr-link fr-fi-volume-mute-line" title="volume-mute-line">fr-fi-volume-mute-line</a>
    <a class="fr-link fr-fi-volume-up-fill" title="volume-up-fill">fr-fi-volume-up-fill</a>
    <a class="fr-link fr-fi-volume-up-line" title="volume-up-line">fr-fi-volume-up-line</a>
    <a class="fr-link fr-fi-youtube-fill" title="youtube-fill">fr-fi-youtube-fill</a>  
  </div>
</div>
{% endblock %}