{% extends 'admin/base.html' %}
{% load i18n static version_tags %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" href="{% static '/dashboard/css/admin.css' %}" />
<link rel="icon" href="{% static '/dashboard/favicon.ico' %}" />
{% endblock %}


{% block userlinks %}
    {% if site_url %}
        <a href="{{ site_url }}">{% translate 'View site' %}</a> /
    {% endif %}
    <a href="{% url 'wagtailadmin_home' %}">Gestion des contenus</a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %}

{% block footer %}
    <div id="footer">
        <p>Version {% version_number %}</p>
    </div>
{% endblock %}