{% extends "core/base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/vue-multiselect-dsfr.css' %}">
<style scoped>
#oc-homesearch {
  padding-top: 2em;
  padding-bottom: 3em;
  margin-bottom: 2em;
}
</style>
{% endblock %}

{% block content %}
<div id="oc-homesearch" class="fr-container-fluid oc-bg--alt">
  <div class="fr-container">
    <h1>
      Trouver les études, statistiques et outils locaux utiles à vos prises de
      décision, recherches ou au débat public
    </h1>
    <div class="fr-select-group">
      <label class="fr-label">Commune, EPCI, département, région</label>
      <div id="vue-app">
      {% verbatim %}
        <div>
          <vue-multiselect
            v-model="singlePlace"
            :options="options"
            :searchable="true"
            group-values="items"
            group-label="groupName"
            track-by="value"
            :multiple="false"
            @search-change="searchCollectivities"
            label="text"
            :group-select="false"
            :multiple="false"
            :internal-search="false"
            :loading="isLoading"
            :preserve-search="true"
            placeholder="Taper les premières lettres de la collectivité recherchée"
            :show-labels="false"
            @search-change="searchCollectivities"
            :options-limit="300"
            :limit-text="limitText"
            @input="loadResultPageHome">
            <span slot="noOptions">Taper les premières lettres de la collectivité recherchée</span>
            <span slot="noResult" v-if="query.length < 3">Taper au moins trois caractères</span>
            <span slot="noResult" v-else>Aucun résultat trouvé, merci de vérifier votre saisie</span>
          </vue-multiselect>
        </div>
      {% endverbatim %}
      </div>
    </div>
  </div>
</div> <!-- end homesearch -->

<div class="fr-container fr-mt-4w fr-mb-6w">
  <div class="oc-heading-with-sidelink">
    <h2 id=outils-pratiques>Publications à la une</h2>
    <a
      class="fr-link fr-fi-arrow-right-line fr-link--icon-right"
      target="_self"
      href="{% url 'core:page_publications' %}?publication_page=5"
      >Voir tout
    </a>
  </div>
    {% include "core/blocks/publications_list.html" with data=page.get_homepage_tiles %}

  </div>

<!-- Wagtail-generated part -->
<div class="fr-container fr-mt-4w fr-mb-6w">
  {% for block in page.body %}
    {% include_block block %}
  {% endfor %}
</div> <!-- End of Wagtail-generated part -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'lib/vue-2.6.12/vue.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/vue-multiselect-2.1.6/dist/vue-multiselect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/axios.0.21.1/axios.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/OpenCollectivitesDataService.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

<script>
const pageData = {
  type: "all",
  slug: "home"
}
</script>

<script type="text/javascript" src="{% static 'js/place-selector.js' %}"></script>
{% endblock %}