{% extends "core/base.html" %}

{% load wagtailcore_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-markdownpage{% endblock %}

{% block content %}
  <div class="fr-container">
    <h1>{{ page.title }}</h1>

    <div class="content">{{ page.content|markdown }}</div>

    {% for post in page.get_children %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {{ post.specific.intro }}
        {{ post.specific.body|richtext }}
    {% endfor %}
  </div>

{% endblock %}
