:root {
  --primary: #00006d;
  --secondary: #00006d;
}

#header a:hover {
  color: #fff;
}

#branding h1 a,
#branding h1 a:visited {
  color: #fff;
  font-weight: bolder;
}

#footer {
  background-color: var(--primary);
  padding-left: 5rem;
  padding-top: 1rem;
  color: #fff;
}