{% load wagtailcore_tags %}

<section>
  <h2>{{ value.title }}</h2>
  <div class="fr-grid-row fr-grid-row--gutters ">
    {% if value.image_position == "left" %}
      <div class="fr-col-12 fr-col-md-4">
        <img src="{{ value.image.url }}" title="{{ value.image.title }}" style="width:100%" />
      </div>
      <div class="fr-col-12 fr-col-md-8">
        {{ value.text|richtext }}
      </div>
    {% else %}
      <div class="fr-col-12 fr-col-md-8">
        {{ value.text|richtext }}
      </div>
      <div class="fr-col-12 fr-col-md-4">
        <img src="{{ value.image.url }}" title="{{ value.image.title }}" style="width:100%" />
      </div>
    {% endif %}
  </div>
</section>