.fr-header {
    box-shadow: none;
    border-bottom: 1.5px solid var(--g400);
}

.oc-bg--alt {
    background-color: var(--g200);
}

.feed-more-link {
    text-align: right;
}

.feed-more-link a {
    font-size: 1.3rem;
}


.fr-tile__link {
    text-align: center;
    display: inline-block;
}

.comparison-selector {
    padding: 10px;
    margin-bottom: 2em;
}

.comparison-selector button {
    margin-top: 1em;
}

.oc-padding-bottom-3em {
    padding-bottom: 3em;
}

.oc-padding-top-1em {
    padding-top: 1em;
}

.oc-padding-top-2em {
    padding-top: 2em;
}

.oc-clear {
    clear: both;
}

.fr-header,
.header-block {
    background-image: url('/static/img/beta.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.oc-sticky-header {
    color: var(--g800);
    background-color: var(--w);
    border-bottom: 1px solid #ccc;
    top: 0px;
    width: 100%;
    z-index: 100;
}


/* Actually only stick the header on desktop */
@media (min-width: 768px) {
    .oc-sticky-header {
        position: sticky;
    }

}

/* Push the summary bar to the right side on desktop and make it stick */
@media (min-width: 768px) {
    #oc-collectivity-main>article {
        order: 1;
    }

    #oc-collectivity-main>aside {
        order: 2;
    }

    #oc-collectivity-main>aside nav {
        position: sticky;
        top: 20px;
    }
}


.oc-tile-row>.fr-tile {
    margin-bottom: 2em;
}

/* Show the top (and header) of publication instead of the middle of the image */
#oc-publications-list .fr-card__img img {
    object-position: top;
}

/* Force certain classes to tables */
.oc-table--fullwidth {
    width: 100%;
}

.oc-table--fullwidth table {
    display: table;
}

.oc-table--force10 td+td,
.oc-table--force10 th+th {
    width: 10%;
}

/* Improve inline forms */
.oc-inline-form {
    display: flex;
    align-items: center;
}

/* Center the pagination component */
.fr-pagination {
    display: flex;
    justify-content: center;
}

/* Tooltip */
.oc-tooltip {
    float: right;
}

.oc-tooltip::before {
    font-size: 1.2em;
}

/* When using svg icons instead of images in the tiles */
.oc-svg-icon,
.oc-svg-icons img {
    width: 100%;
}

/* Set the color of svg icons in dark mode */
:root[data-fr-theme="dark"i] .oc-svg-icon,
:root[data-fr-theme="dark"i] .oc-svg-icons img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(11%) saturate(2548%) hue-rotate(202deg) brightness(103%) contrast(102%);
}

.oc-privacy-icon {
    margin-left: 2rem;
    color: var(--g500);
}

.oc-heading-with-sidelink {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}